* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* whole doc color black rgb(46, 46, 46)) */
.app {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.MuiSvgIcon-root {
  color: #7c7c7c;
}

button:active {
  outline-width: 0;
}

.right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.chat-container {
  position: absolute;
  right: 100px;
  bottom: 10px;
}
